@media (min-width: 48rem) {

    .main {
        padding: 4rem;

        width: 100%;
    }

    .foodCategory {
        width: 100%;
    }

    .foodsContainer {
        display: grid;

        grid-template-columns: 1fr 1fr 1fr;

        gap: 3.2rem 2.4rem;
    }

    .food {
        width: 21.333rem;
    }


}



@media (min-width: 90rem) {
    .main {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

        padding: 8.8rem 11.2rem;
    }

    .foodCategory {
        width: 80rem;
    }

    .food {
        width: 25.067rem;
    }

    .cart {
        width: 38.4rem;
    }
}